<%= render "progress_bar" %>


<br>
<div class="row" style="position: relative">
    <table id="orderTable" class="table table-hover" >
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>數量</th>
          <th>單價</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.includes(:product).each_with_index do |item, index| %>
          <tr style="vertical-align: middle; height: 80px">

            <td>
              <%= image_tag item.product.product_attachments.where(:image_type => 'main').first.image_url(:thumb), style: 'max-height: 70px; max-width: 100px ' %>
            </td>
            <td>
              <%= item.product.title %>
            </td>
            <td> <%= item.quantity %> </td>
            <td> <%= number_to_currency(item.price, precision: 0) %> 
              
            </td>
            <td> <%= button_to  'X', item, method: :delete, class: 'btn btn-default', data: {confirm: "確認移除商品嗎？"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <div class="total" style="width: 300px; position: absolute; right: 0px;">
      <dl class="dl-horizontal"  >
        <dt>小計：</dt>
        <dd><%= number_to_currency(@order.sub_total, precision: 0) %></dd>
        <dt>運費：</dt>
        <dd><%= number_to_currency(@order.shipping_fee, precision: 0) %></dd>
        <dt>總計：</dt>
        <dd><%= number_to_currency(@order.grand_total, precision: 0) %></dd>
      </dl>
    </div>

</div>
<br>  

  <%= link_to checkout_order_path do %>
    <button class="btn btn-primary" >下一步</button>
  <% end %>




<br>

