<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_attachment.product_id %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @product_attachment.main_image %>
</p>

<p>
  <strong>Other images:</strong>
  <%= @product_attachment.other_images %>
</p>

<%= link_to 'Edit', edit_product_attachment_path(@product_attachment) %> |
<%= link_to 'Back', product_attachments_path %>
