<!--<%= form_for(@product, :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <%= f.fields_for :product_attachment do |p| %>
    <div class="field">
      <%= p.label :main_image %><br>
      <%= p.file_field :main_image, name: "product_attachments[main_image]" %>
    </div>

    <div class="field">
      <%= p.label :other_images %><br>
      <%= p.file_field :other_images, :multiple => true, name: "product_attachments[other_images][]" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, Category.all.map{ |c| [c.title, c.id] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->
<%= simple_form_for @product, :html => { :multipart => true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= simple_fields_for :product_attachments do |f| %>
    <%= f.input :main_image, as: :file %>
    <%= f.input :other_images, as: :file, input_html: {multiple: true} %>
  <% end %>
  <%= f.input :price %>
  <%= f.input :category_id, as: :select, collection: Category.all.map{ |c| [c.title, c.id] } %>
  <%= f.button :submit %>
<% end %>
