<style>
  .imageHolder {
    width: auto;
    height: 280px;
    text-align: center;
    -border: black 1px solid;
    
  }
  .imageHolder img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 250px;
  }
  .imageHolder .helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .productTitle{
    color: #000;
    text-align: center;
  }
  .productImage{
    font-family: monospace, sans-serif;
    text-align: center;
  }

</style>

<br>



<% @products.includes(:product_attachments).each_slice(4) do |slice| %>
  <div class="row" style="margin-bottom: 20px;">
    <% slice.each do |product| %>
      <div class="col-lg-3">
        <%= link_to product_path(product) do %>
          <div class="imageHolder">
            <div class="helper"></div>
            <%= image_tag product.product_attachments.first.image_url(:thumb) %><br>
          </div>
          <div class="productTitle"> <%= product.title %> </div>
          <div class="productImage"> <%= number_to_currency(product.price, precision: 0) %> </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.includes(:product_attachments).each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.category_id %></td>
        <%#binding.pry%>
        <td><%= image_tag product.product_attachments.first.image_url(:thumb) %></td>
        
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
