<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<style type="text/css">
  .productInfo > .title {
     font-size: 2em;
  }
  .productInfo > .price {
    font-family: 'Roboto',微軟正黑體,Helvetica,sans-serif;
    font-size: 4em;
    font-weight: bold;
  }
</style>

<div class="row" style="margin-top: 20px">
  <div class="col-lg-5 ">
    <%= image_tag @product.product_attachments.where(:image_type => 'main').first.image_url, :'width' => '100%' %>
  </div>

  <div class="col-lg-5 col-lg-offset-1">
    <div class="productInfo">
    <div class="title"><%= @product.title %></div>
    <div class="price"><%= number_to_currency(@product.price, precision: 0) %></div>
    <input class="form-control">
    <input class="btn btn-default" type="button" value="加入購物籃">
    <br><hr>
    <%= @product.description %>
    <hr>
    More Image<br>
    <% @product.product_attachments.where(:image_type => 'other').each do |i| %>
      <%= image_tag i.image_url(:thumb) %>
    <% end %>
  </div>

</div>



<%= content_for :footer do %>

<br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="col-lg-5">
      <div class="productTitle"><h3>正韓質感運動鞋<%= @product.title %></h3></div><br>
      <%= image_tag "https://scontent-tpe.xx.fbcdn.net/hphotos-xfa1/t31.0-8/11155099_833089253411203_350078661803195758_o.jpg", :width => "70%" %>
    </div>



<p id="notice"><%= notice %></p>
<code>SDFS</code>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Main Image:</strong> <br>
  <%= image_tag @product.product_attachments.where(:image_type => 'main').first.image_url %>
</p>

<p>
  <strong>Other Image:</strong> <br>
  <% @product.product_attachments.where(:image_type => 'other').each do |i| %>
    <%= image_tag i.image_url(:thumb) %>
  <% end %>

</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<% end %>
