<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Shimmer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

</head>
<body>
<nav class="navbar ">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <div class="logo" >
          <h1 style="display: inline-block">Shimmer<span> discover fasion online</span></h1>
        </div>
      <% end %>
      <div class="topLeft">
        <% if current_user %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_user.name %>
          <%= link_to("登出", destroy_user_session_path, :method => :delete ) %>
        <% elsif %>
          <%= link_to("登入", new_user_session_path ) %>
        <% end%>
        <div class="cart">
          <%= link_to order_path, style: 'color: black' do %>
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            購物車(<%= current_order.quantity %>) 結賬
          <% end %>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container">
    <nav class="navbar">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#newNav" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color: black"></span>
            <span class="icon-bar" style="background-color: black"></span>
            <span class="icon-bar" style="background-color: black"></span>
          </button>
        </div>
        <div id="newNav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav main">
            <li><a href="/categories/new_arrival" alt="New Arrval" <%= current_link_class(new_arrival_categories_path) %> >本月新貨</a></li>
            <li><a href="/categories/Tops"  <%= current_link_class(category_path("Tops")) %>>上衣</a></li>     
            <li><a href="/categories/Test"  <%= current_link_class(category_path("Test")) %> >褲子</a></li>          
            <li><a href="#" >聯絡小幫手</a></li>          
            <li><a href="/about_us"  <%= current_link_class(about_us_path) %>>關於我們</a></li>
          </ul>
        </div><!-- /.nav-collapse -->

    </nav><!-- /.navbar -->
  <p class="notice"></p>
  <span class="label label-info"><%= flash[:notice] %></span>
  <span class="label label-danger"><%= flash[:alert] %></span>
  <span class="label label-danger"><%= flash[:error] %></span>

  <%= yield %>


<%= yield :footer%>
<br><br><br><br><br><br><br>
</div>
</body>
</html>

